{{- define "capacity_switch" -}}
{{- $intro_yr := parseint .intro_year}}{{if le $intro_yr 1940 -}}
    {{- if .realistic_capacity -}}
    return param_realistic_early_vehicle_capacity ? 
        (cargo_type_in_veh == MAIL || cargo_type_in_veh == VALU ? {{.realistic_mail_capacity_per_unit}} : {{.realistic_capacity_per_unit}}) : 
        (cargo_type_in_veh == MAIL || cargo_type_in_veh == VALU ? {{.mail_capacity_per_unit}} : {{.capacity_per_unit}});
    {{- else}}
    return cargo_type_in_veh == MAIL || cargo_type_in_veh == VALU ? {{.mail_capacity_per_unit}} : {{.capacity_per_unit}};
    {{- end -}}
{{- else}}
    {{- if .realistic_capacity}}
    return param_realistic_modern_vehicle_capacity ? 
        (cargo_type_in_veh == MAIL || cargo_type_in_veh == VALU ? {{.realistic_mail_capacity_per_unit}} : {{.realistic_capacity_per_unit}}) : 
        (cargo_type_in_veh == MAIL || cargo_type_in_veh == VALU ? {{.mail_capacity_per_unit}} : {{.capacity_per_unit}});
    {{- else}}
    return cargo_type_in_veh == MAIL || cargo_type_in_veh == VALU ? {{.mail_capacity_per_unit}} : {{.capacity_per_unit}};
    {{- end -}}
{{- end -}}
{{- end -}}