{{define "cargo_sprites_v3" }}

// Base vehicle templates
{{- $template := concat "template_auto_" .ttd_len }}
{{- $zoom := parseint .globals.zoom -}}

// The base vehicle (bulk cargo)
{{ altsprites8 .id  $template $zoom }}

// Alternate cargo options
{{ if .has_flatbed }}{{ $cargo_id := concat .id "_flatbed" }}{{ altsprites8 $cargo_id $template $zoom }}{{end}}
{{ if not .has_piece_goods_tanker -}}{{ $cargo_id := concat .id "_tanker" }}{{ altsprites8 $cargo_id $template $zoom }}{{end}}
{{- if or .has_alternate_goods .has_covered_goods -}}{{ $cargo_id := concat .id "_goods" }}{{ altsprites8 $cargo_id $template $zoom }}{{end}}
{{if not .has_open_livestock}}{{ $cargo_id := concat .id "_livestock" }}{{ altsprites8 $cargo_id $template $zoom }}{{end}}

// Null cargo_empty
{{ $cargo_id := concat .id "_none" }}{{ altsprites8 $cargo_id $template $zoom }}


// Base cargo types (recoloured to individual cargo)
{{ $cargo_list := "bulk" -}}

{{ if .has_flatbed }}
{{ if .has_year_dependent_cargo }}
{{$cargo_list = concat $cargo_list ",flatbed_metal,flatbed_wood,flatbed_timber,flatbed_pipe,flatbed_wire,flatbed_coil,flatbed_ensp_early,flatbed_fmsp_early,flatbed_ensp_late,flatbed_fmsp_late,flatbed_vehicles_1890s,flatbed_vehicle_bodies_1890s,flatbed_vehicles_1920s,flatbed_vehicle_bodies_1920s,flatbed_vehicles_1950s,flatbed_vehicle_bodies_1950s,flatbed_vehicles_1980s,flatbed_vehicle_bodies_1980s" }}
{{ else }}
{{$cargo_list = concat $cargo_list ",flatbed_metal,flatbed_wood,flatbed_timber,flatbed_pipe,flatbed_wire,flatbed_coil,flatbed_ensp,flatbed_fmsp,flatbed_vehicles,flatbed_vehicle_bodies" }}
{{ end }}
{{else}}
{{$cargo_list = concat $cargo_list ",metal,wood,timber,pipe,wire,coil,ensp,fmsp,vehicles,vehicle_bodies" }}
{{end}}

{{ if .has_piece_goods_tanker -}}
{{ if .has_flatbed}}{{$cargo_list = concat $cargo_list ",flatbed_drums,flatbed_barrels" }}{{else}}{{$cargo_list = concat $cargo_list ",drums,barrels" }}{{end}}
{{ end }}

{{ if not .has_covered_goods }}
{{ if .has_flatbed}}{{$cargo_list = concat $cargo_list ",flatbed_goods" }}{{else}}{{$cargo_list = concat $cargo_list ",goods" }}{{end}}
{{end}}

{{ if .has_open_livestock }}{{$cargo_list = concat $cargo_list ",livestock" }}{{end}}

{{ if $cargo_list}}
{{$id := .id}}

{{ range $index, $element := slice $cargo_list -}}
{{ if $element -}}
// Cargo: {{$element}}
{{$elus := concat "_" $element}}
{{- range $idx2, $el2 := slice "_half,_full" }}
{{$cargo := concat $elus $el2  }}{{$fullid := concat $id $cargo}}{{ altsprites8 $fullid $template $zoom }}
{{end}}

// Cargo spritegroups

{{$cargoid := concat $id $elus }}
spritegroup spritegroup_{{$cargoid}} {
	loading: [spriteset_{{$id}}_none, spriteset_{{$id}}_{{$element}}_half, spriteset_{{$id}}_{{$element}}_half, spriteset_{{$id}}_{{$element}}_full ];
	loaded: [spriteset_{{$id}}_none, spriteset_{{$id}}_{{$element}}_half, spriteset_{{$id}}_{{$element}}_half, spriteset_{{$id}}_{{$element}}_full ];
}
{{end}} //eif element
{{end}} //erange cargo_list


{{end}} //eif cargo_list
// End cargo sprites



{{ end}}
