{{define "cargo_spritegroups"}}

{{- $groups := "_coal,_grain,_grey,_iore" -}}
{{- $flatbed_groups := "_copper,_stel,_timber,_wood" -}}

{{- if .has_alternate_goods -}}
{{- $flatbed_groups = concat $flatbed_groups ",_goods" -}}
{{- else -}}
{{- if .has_covered_goods -}}{{- else -}}{{- $flatbed_groups = concat $flatbed_groups ",_goods" -}}{{- end -}}
{{- end }}

{{- if and .has_flatbed .has_piece_goods_tanker -}}
{{- $flatbed_groups = concat $flatbed_groups ",_drums,_barrels" -}}
{{- else if .has_piece_goods_tanker -}}
{{- $groups = concat $groups ",_drums,_barrels" -}}
{{- end -}}

{{- if .has_covered_livestock -}}
{{- else -}}
    {{- $groups = concat $groups ",_livestock" -}}
{{- end -}}

{{- if not .has_flatbed -}}
    {{- $flatbed_groups = concat "," $flatbed_groups -}}
    {{- $groups = concat $groups $flatbed_groups -}}
{{- end -}}

{{- $id := .id -}}

{{""}}
// CARGO GROUPS for {{.id}}
// Flatbed: {{$flatbed_groups}}
// Regular: {{$groups}}
{{""}}

{{- range $index, $element := slice $groups -}}
{{- $cargo := concat $id $element }}
spritegroup spritegroup_{{$cargo}}
{ 
    loading: [ spriteset_{{$id}}, spriteset_{{$cargo}} ]; 
    loaded: [ spriteset_{{$id}}, spriteset_{{$cargo}} ]; 
} 
{{- end -}}

{{- if .has_flatbed -}}

{{- range $index, $element := slice $flatbed_groups -}}
{{- $flatbed_id := concat $id "_flatbed" -}}
{{- $cargo := concat $id $element }}
{{- $flatbedcargo := concat $flatbed_id $element }}
spritegroup spritegroup_{{$cargo}}
{ 
    loading: [ spriteset_{{$flatbed_id}}, spriteset_{{$flatbedcargo}} ]; 
    loaded: [ spriteset_{{$flatbed_id}}, spriteset_{{$flatbedcargo}} ]; 
}
{{- end -}}
{{- end -}}

{{- if .has_alternate_goods }}
random_switch(FEAT_ROADVEHS, SELF, switch_{{.id}}_random_goods, ) {
	2: spritegroup_{{.id}}_goods;
	2: spriteset_{{.id}}_goods;
}
{{end -}}
{{end}}