{{- define "rv_props" }}
    name:                           {{.name_string}};

    climates_available:             {{if eq "never" .enable_param}}NO_CLIMATE{{else}}param_{{.enable_param}} ? ALL_CLIMATES : NO_CLIMATE{{end}};

    introduction_date:              date({{.intro_year}},{{.intro_month}},01);
    model_life:                     {{if eq .model_life "-1"}}VEHICLE_NEVER_EXPIRES{{else}}{{.model_life}} + 4{{end}};
    retire_early:                   -2;

    vehicle_life:                   {{.vehicle_life}};
    reliability_decay:              {{.reliability}};
    loading_speed:                  {{.loading_speed}};
    cargo_age_period:               (185 * cargo_age_multiplier) / 2;

    {{- if .is_tram}}
    tram_type:                      {{.roadtype}};
    {{- else}}
    road_type:                      {{.roadtype}};
    {{- end}}

    {{- if .variant_group}}
    variant_group:                  {{.variant_group}};
    extra_flags:                    bitmask(VEHICLE_FLAG_SYNC_VARIANT_EXCLUSIVE_PREVIEW, VEHICLE_FLAG_SYNC_VARIANT_RELIABILITY);
    {{- end}}

    sprite_id:                      SPRITE_ID_NEW_ROADVEH; 
    speed:                          {{.top_speed}} mph;
    misc_flags:                     bitmask({{if .is_tram}}ROADVEH_FLAG_TRAM, {{end}}ROADVEH_FLAG_2CC, ROADVEH_FLAG_SPRITE_STACK);
    refit_cost:                     0; 

    running_cost_base:              RUNNING_COST_ROADVEH;
    weight:                         {{.weight}} ton;     
    length:                         {{.ttd_len}};

    cargo_capacity:                 {{.capacity_per_unit}};

    cost_factor:                    {{.cost}};
    running_cost_factor:            {{.running_cost}};
    power:                          {{.power}} hp;

{{- if eq .engine "horse" }}
    sound_effect:                   SOUND_FARM_3;
    visual_effect:                  VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "steam" }}
    sound_effect:                   SOUND_DEPARTURE_STEAM;
    visual_effect:                  param_smoke ? visual_effect(VISUAL_EFFECT_STEAM, {{.smoke_location}}) : VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "diesel" }}
    sound_effect:                   SOUND_DEPARTURE_OLD_RV_1;
    visual_effect:                  param_smoke ? visual_effect(VISUAL_EFFECT_DIESEL, {{.smoke_location}}) : VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "powerful" }}
    sound_effect:                   SOUND_DEPARTURE_MODERN_BUS;
    visual_effect:                  param_smoke ? visual_effect(VISUAL_EFFECT_DIESEL, {{.smoke_location}}) : VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "coach" }}
    sound_effect:                   SOUND_DEPARTURE_OLD_BUS;
    visual_effect:                  param_smoke ? visual_effect(VISUAL_EFFECT_DIESEL, {{.smoke_location}}) : VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "hydrogen" }}
    sound_effect:                   SOUND_DEPARTURE_MONORAIL;
{{- else if eq .engine "clean" }}
    sound_effect:                   SOUND_DEPARTURE_OLD_RV_1;
{{- else if eq .engine "petrol" }}
    sound_effect:                   SOUND_DEPARTURE_MODERN_BUS;
{{- else if eq .engine "electric" }}
    sound_effect:                   SOUND_POWER_STATION;
    visual_effect:                  param_smoke ? visual_effect(VISUAL_EFFECT_ELECTRIC, {{.smoke_location}}) : VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "electric_with_bong" }}
    sound_effect:                   SOUND_DEPARTURE_MAGLEV;
    visual_effect:                  param_smoke ? visual_effect(VISUAL_EFFECT_ELECTRIC, {{.smoke_location}}) : VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "t5" }}
    sound_effect:                   sound("sounds/volvo.wav");
{{- else if eq .engine "35d" }}
    sound_effect:                   sound("sounds/bmw.wav");
{{ end -}}
{{- end}}
