{{- define "rv_props" }}
    name:                           {{.name_string}};

    climates_available:             bitmask(CLIMATE_TEMPERATE, CLIMATE_ARCTIC, CLIMATE_TROPICAL);

    introduction_date:              date({{.intro_year}},{{.intro_month}},01);
    model_life:                     {{.model_life}} + 4;
    retire_early:                   -2;

    vehicle_life:                   {{.vehicle_life}};
    reliability_decay:              {{.reliability}};
    loading_speed:                  {{.loading_speed}};

    {{- if .is_tram}}
    tram_type:                      {{.roadtype}};
    {{- else}}
    road_type:                      {{.roadtype}};
    {{- end}}

    sprite_id:                      SPRITE_ID_NEW_ROADVEH; 
    speed:                          {{.top_speed}} mph;
    misc_flags:                     bitmask({{if .is_tram}}ROADVEH_FLAG_TRAM, {{end}}ROADVEH_FLAG_2CC, ROADVEH_FLAG_SPRITE_STACK);
    refit_cost:                     0; 

    running_cost_base:              RUNNING_COST_ROADVEH;
    weight:                         {{.weight}} ton;     
    length:                         {{.ttd_len}};

    cargo_capacity:                 {{.capacity_per_unit}};
    cost_factor:                    {{.cost}};
    running_cost_factor:            {{.running_cost}};
    power:                          {{.power}} hp;

{{- if eq .engine "horse" }}
    sound_effect:                   SOUND_HORSE;
{{- else if eq .engine "steam" }}
    sound_effect:                   SOUND_TRAIN;
    visual_effect:                  param_smoke ? visual_effect(VISUAL_EFFECT_STEAM, {{.smoke_location}}) : VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "diesel" }}
    sound_effect:                   SOUND_BUS_START_PULL_AWAY;
    visual_effect:                  param_smoke ? visual_effect(VISUAL_EFFECT_DIESEL, {{.smoke_location}}) : VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "powerful" }}
    sound_effect:                   SOUND_TRUCK_START;
    visual_effect:                  param_smoke ? visual_effect(VISUAL_EFFECT_DIESEL, {{.smoke_location}}) : VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "coach" }}
    sound_effect:                   SOUND_TRUCK_START_2;
    visual_effect:                  param_smoke ? visual_effect(VISUAL_EFFECT_DIESEL, {{.smoke_location}}) : VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "hydrogen" }}
    sound_effect:                   SOUND_MAGLEV_2;
{{- else if eq .engine "clean" }}
    sound_effect:                   SOUND_BUS_START_PULL_AWAY;
{{- else if eq .engine "petrol" }}
    sound_effect:                   SOUND_TRUCK_START;
{{- else if eq .engine "electric" }}
    sound_effect:                   SOUND_ELECTRIC_SPARK;
    visual_effect:                  param_smoke ? visual_effect(VISUAL_EFFECT_ELECTRIC, {{.smoke_location}}) : VISUAL_EFFECT_DISABLE;
{{- else if eq .engine "t5" }}
    sound_effect:                   sound("sounds/volvo.wav");
{{- else if eq .engine "35d" }}
    sound_effect:                   sound("sounds/bmw.wav");
{{ end -}}
{{- end}}
