{{- define "speed_limiter" -}}
    {{if .limiter_speed -}}
    speed: {{if .limiter_speed -}}
        (build_year >= 1991 && param_speed_limiters) ? {{.kmish_limiter_speed}} : {{end -}}
        {{.kmish_speed}};
    {{- end}}
{{- end -}}
