{{- define "train_props" }}
    name:                           {{.name_string}};
    climates_available:             param_{{.enable_param}} {{if .is_light_rail}}&& (param_light_rail_mode == 2 || param_light_rail_mode == 3){{else if .is_hybrid_rail}}&& (param_hybrid_tram_mode == 2 || param_hybrid_tram_mode == 3){{end}} ? bitmask(CLIMATE_TEMPERATE, CLIMATE_ARCTIC, CLIMATE_TROPICAL) : NO_CLIMATE;

    introduction_date:              date({{.intro_year}},{{.intro_month}},01);
    model_life:                     {{.model_life}};

    vehicle_life:                   {{.vehicle_life}};
    reliability_decay:              {{.reliability}};
    loading_speed:                  {{.loading_speed}};

    sprite_id:                      SPRITE_ID_NEW_TRAIN; 
    speed:                          {{.top_speed}} mph;
    misc_flags:                     bitmask(TRAIN_FLAG_2CC, TRAIN_FLAG_MU);
    refit_cost:                     0; 

    running_cost_base:              RUNNING_COST_ELECTRIC;
    engine_class:                   ENGINE_CLASS_ELECTRIC;    
    weight:                         {{.weight}} ton;     

    cargo_capacity:                 {{.capacity_per_unit}};
    cost_factor:                    {{.rail_cost}};
    running_cost_factor:            {{.rail_running_cost}};
    power:                          {{.power}} hp;

    tractive_effort_coefficient:    0.3;
{{- end}}
