{{ $zoom := parseint .globals.zoom -}}
{{ $zoomstr := .globals.zoom -}}
{{- $horse_type := .horse_type }}
{{- $id := .id -}}
{{ $articulated_lengths := slice .articulated_lengths }}
{{- range $index, $element := slice .articulated_graphics -}}
{{ $ttd_len := index $articulated_lengths $index }}
{{- $template := concat "template_auto_" $ttd_len }}
    {{- $lte0 := le $index 0 -}}{{- if and $horse_type $lte0 -}}{{- else -}}
    {{- if ne $element "" -}}
        {{- $el_usc := concat "_" $element -}}{{- $spr_id := concat $id $el_usc -}}
        {{ altsprites8 $spr_id $template $zoom }}
    {{- else -}}
        {{ altsprites8 $id $template $zoom }}{{- end -}}
        {{ $loaded := concat $id "_full" }}{{ altsprites8 $loaded $template $zoom }}
        {{ $half_loaded := concat $id "_half" }}{{ altsprites8 $half_loaded $template $zoom }}

        spritegroup spritegroup_{{$id}} {
            loading: [spriteset_{{$id}}, spriteset_{{$id}}_half, spriteset_{{$id}}_half, spriteset_{{$id}}_full ];
            loaded: [spriteset_{{$id}}, spriteset_{{$id}}_half, spriteset_{{$id}}_half, spriteset_{{$id}}_full ];
        }
{{- end -}}
{{- end}}

spriteset(spriteset_{{.id}}_purchase, "1x/{{.id}}_purchase.png") { template_purchase_1x() }
alternative_sprites(spriteset_{{.id}}_purchase, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP, "2x/{{.id}}_purchase.png") { template_purchase_2x() }

// Articulation switches
switch (FEAT_ROADVEHS, SELF, switch_{{.id}}_articulation, extra_callback_info1) 
{
    {{- range $index, $element := slice .articulated_configuration -}}
    {{ $index }}: return {{ $id }};
    {{- end}}
    return CB_RESULT_NO_MORE_ARTICULATED_PARTS;
}

switch (FEAT_ROADVEHS, SELF, switch_{{.id}}_graphics, position_in_consist ) 
{
    {{- range $index, $element := slice .articulated_configuration -}}
    {{- if eq $index 0 }}{{- if $horse_type }}
    {{ $index }}:  switch_{{$horse_type}}_animation;
    {{- else }}
    {{ $index }}: return {{if ne $element "" }}spriteset_{{ $id }}_{{ $element }}{{else}}spritegroup_{{ $id }}{{end}};
    {{- end -}}
    {{- else -}}
    {{ $index }}: return {{if ne $element "" }}spriteset_{{ $id }}_{{ $element }}{{else}}spritegroup_{{ $id }}{{end}};
    {{- end -}}
    {{- end}}
}

switch (FEAT_ROADVEHS, SELF, switch_{{.id}}_capacity, position_in_consist ) 
{
    {{- range $index, $element := slice .articulated_capacities -}}
    {{ $index }}: return {{ $element }};
    {{- end }}
}

switch (FEAT_ROADVEHS, SELF, switch_{{.id}}_length, position_in_consist ) 
{
    {{- range $index, $element := slice .articulated_lengths -}}
    {{$index }}: return {{ $element }};
    {{- end}}    
}

{{ $engine := .engine }}
{{ $smoke_loc := .smoke_location }}
{{- if ne $engine "horse" }}
switch (FEAT_ROADVEHS, SELF, switch_{{.id}}_visual_effect, position_in_consist ) 
{ 
    {{- range $index, $element := slice .articulated_visual_effects -}}
    {{- if ne $element "" -}}
    {{- if eq $engine "steam" }}
    {{ $index }}: return param_smoke ? visual_effect(VISUAL_EFFECT_STEAM, {{ $smoke_loc }}) : VISUAL_EFFECT_DISABLE;
    {{- else if eq $engine "diesel" }}
    {{ $index }}: return param_smoke ? visual_effect(VISUAL_EFFECT_DIESEL, {{ $smoke_loc }}) : VISUAL_EFFECT_DISABLE;
    {{- else if eq $engine "powerful" }}
    {{ $index }}: return param_smoke ? visual_effect(VISUAL_EFFECT_DIESEL, {{ $smoke_loc }}) : VISUAL_EFFECT_DISABLE;
    {{- else if eq $engine "coach" }}
    {{ $index }}: return param_smoke ? visual_effect(VISUAL_EFFECT_DIESEL, {{ $smoke_loc }}) : VISUAL_EFFECT_DISABLE;
    {{- else if eq $engine "electric" }}
    {{ $index }}: return param_smoke ? visual_effect(VISUAL_EFFECT_ELECTRIC, {{ $smoke_loc }}) : VISUAL_EFFECT_DISABLE;
    {{- else }}
    {{ $index }}: return VISUAL_EFFECT_DISABLE;
    {{ end -}}
    {{- end -}}
    {{- end}}
    return VISUAL_EFFECT_DISABLE;    
}
{{- end}}

{{template "running_cost_switch" . }}

item(FEAT_ROADVEHS, {{.id}}, {{.numeric_id}}) {
    property {
        {{template "rv_props" . }}
        refittable_cargo_classes:       bitmask(CC_PASSENGERS);
        non_refittable_cargo_classes:   bitmask(CC_BULK, CC_LIQUID, CC_PIECE_GOODS, CC_EXPRESS, CC_REFRIGERATED, CC_ARMOURED, CC_MAIL);
        default_cargo_type:             PASS;

    }

    graphics {
        additional_text: return {{.additional_text_string}};
        {{template "speed_limiter" . }}

        {{if ne $engine "horse" }}visual_effect: switch_{{.id}}_visual_effect;{{end}}
        articulated_part: switch_{{.id}}_articulation;
        cargo_capacity: switch_{{.id}}_capacity;
        length: switch_{{.id}}_length;
        {{if .horse_type}}
        colour_mapping: switch_{{.horse_type}}_colour_mapping;
        purchase_colour_mapping: return base_sprite_2cc + CB_RESULT_COLOUR_MAPPING_ADD_CC;
        {{end}}
        purchase_cargo_capacity: return {{.capacity}} / {{.articulated_units}};
        purchase: spriteset_{{.id}}_purchase;
        running_cost_factor: switch_{{.id}}_running_cost;
        purchase_running_cost_factor: return {{.running_cost}};
        default: switch_{{.id}}_graphics;
  }
}


