{{- $zoom := parseint .globals.zoom -}}
{{- $template := concat "template_auto_" .ttd_len }}{{ altsprites8 .id $template $zoom }}
{{$a := concat .id "_1"}}{{ altsprites8 $a $template $zoom }}
{{$b := concat .id "_2"}}{{ altsprites8 $b $template $zoom }}

switch(FEAT_ROADVEHS, SELF, switch_{{.id}}_animation, motion_counter % 4) { 
    0..1: return spriteset_{{.id}}_1; 
    return spriteset_{{.id}}_2; 
} 
