{{ template "cargo_sprites_v3" . }}

{{ template "cargo_switches_v3" . }}

item(FEAT_ROADVEHS, {{.id}}, {{.numeric_id}}) {
    property {
    {{template "rv_props" . }}
        refittable_cargo_classes:       bitmask(CC_BULK, CC_LIQUID, CC_PIECE_GOODS, CC_EXPRESS, CC_REFRIGERATED, CC_ARMOURED, CC_MAIL);
        non_refittable_cargo_classes:   bitmask(CC_PASSENGERS);
        default_cargo_type:             GOOD;
    }

    graphics {
        additional_text: return {{.additional_text_string}};
        {{ template "speed_limiter" . }}
        cargo_capacity: {{ template "capacity_switch" . }}
        {{ template "cargo_selector_v3" . }}
    
    }
}

