// Empty
{{ $zoom := parseint .globals.zoom -}}
{{- $template := "template_rv" }}{{ if .is_tram }}{{ $template = "template_tram" }}{{- end -}}
{{ altsprites8 .id $template $zoom }}

// Loaded
{{ $loaded := concat .id "_loaded" }}{{ altsprites8 $loaded $template $zoom }}
{{ $half_loaded := concat .id "_half_loaded" }}{{ altsprites8 $half_loaded $template $zoom }}

// Spritegroup
spritegroup spritegroup_{{.id}} {                                      
	loading: [ spriteset_{{.id}}, spriteset_{{.id}}_half_loaded, spriteset_{{.id}}_loaded ];
	loaded:  [ spriteset_{{.id}}, spriteset_{{.id}}_half_loaded, spriteset_{{.id}}_loaded ];
}


item(FEAT_ROADVEHS, {{.id}}, {{.numeric_id}}) {
  property {
    {{template "rv_props" . }}
    refittable_cargo_classes:       bitmask(CC_PASSENGERS);
    non_refittable_cargo_classes:   bitmask(CC_BULK, CC_LIQUID, CC_PIECE_GOODS, CC_EXPRESS, CC_REFRIGERATED, CC_ARMOURED, CC_MAIL);
    default_cargo_type:             PASS;
  }

  graphics {
    default: spritegroup_{{.id}};
    additional_text: return {{.additional_text_string}};
    {{template "speed_limiter" . }}  
  }
}

