{{ $zoom := parseint .globals.zoom }}
{{- $template := concat "template_auto_" .ttd_len }}{{ altsprites8 .id $template $zoom }}

spriteset(spriteset_{{.id}}_purchase, "1x/{{.id}}_purchase.png") { template_purchase_1x() }

switch(FEAT_ROADVEHS, SELF, switch_capacity_{{.id}}, cargo_type_in_veh) {
  MAIL: return {{.capacity_per_unit}};
  PASS: return {{.capacity_per_unit}};
  return {{.capacity_per_unit}};
}

item(FEAT_ROADVEHS, {{.id}}, {{.numeric_id}}) {
  property {
    {{template "rv_props" . }}
    refittable_cargo_classes:       bitmask(CC_PASSENGERS);
    non_refittable_cargo_classes:   bitmask(CC_BULK, CC_LIQUID, CC_PIECE_GOODS, CC_EXPRESS, CC_REFRIGERATED, CC_ARMOURED, CC_MAIL);
    default_cargo_type:             PASS;
  }

  graphics {
    default: spriteset_{{.id}};
    additional_text: return {{.additional_text_string}};
    purchase: spriteset_{{.id}}_purchase;
    {{template "speed_limiter" . }}

    cargo_capacity: switch_capacity_{{.id}};
  }
}

