{{- $zoom := parseint .globals.zoom -}}
{{- $template := concat "template_auto_" .ttd_len }}{{ altsprites8 .id $template $zoom }}

{{- $cargotypes := slice "_goods,_mail" -}}
{{- $id := .id }}
{{ range $index, $element := $cargotypes }}
{{ $cargo := concat $id $element }}{{ altsprites8 $cargo $template $zoom }}
{{- end}}


{{- $groups := "_goods,_mail" -}}

{{- range $index, $element := slice $groups -}}
{{- $cargo := concat $id $element }}
spritegroup spritegroup_{{$cargo}}
{ 
    loading: [ spriteset_{{$id}}, spriteset_{{$cargo}} ]; 
    loaded: [ spriteset_{{$id}}, spriteset_{{$cargo}} ]; 
} 
{{- end}}

