{{ $zoom := parseint .globals.zoom }}
{{- $template := concat "template_auto_" .ttd_len }}{{ altsprites8 .id $template $zoom }}

spriteset(spriteset_{{.id}}_purchase, "1x/{{.id}}_purchase.png") { template_purchase_1x() }
alternative_sprites(spriteset_{{.id}}_purchase, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP, "2x/{{.id}}_purchase.png") { template_purchase_2x() }

{{template "running_cost_switch" . }}

item(FEAT_ROADVEHS, {{.id}}, {{.numeric_id}}) {
    property {
    {{template "rv_props" . }}
        refittable_cargo_classes:       bitmask(CC_LIQUID);
        non_refittable_cargo_classes:   bitmask(CC_PASSENGERS, CC_BULK, CC_PIECE_GOODS, CC_EXPRESS, CC_REFRIGERATED, CC_ARMOURED, CC_MAIL);
        default_cargo_type:             OIL_;
    }

    graphics {
        additional_text: return {{.additional_text_string}};
        {{ template "speed_limiter" . }}
        default: spriteset_{{.id}};
        running_cost_factor: switch_{{.id}}_running_cost;
        purchase_running_cost_factor: return {{.running_cost}};
        purchase: spriteset_{{.id}}_purchase;
    }
}
