{{ $zoom := parseint .globals.zoom }}
{{- $template := concat "template_auto_" .ttd_len }}{{ altsprites8 .id $template $zoom }}

item(FEAT_ROADVEHS, {{.id}}, {{.numeric_id}}) {
    property {
    {{template "rv_props" . }}
        refittable_cargo_classes:       bitmask(CC_LIQUID);
        non_refittable_cargo_classes:   bitmask(CC_PASSENGERS, CC_BULK, CC_PIECE_GOODS, CC_EXPRESS, CC_REFRIGERATED, CC_ARMOURED, CC_MAIL);
        default_cargo_type:             GOOD;
    }

    graphics {
        additional_text: return {{.additional_text_string}};
        {{ template "speed_limiter" . }}
        default: spriteset_{{.id}};
    }
}
